/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    display: flex;
    justify-content: flex-end;
    height: 40px;
    background-color: black;
    padding: 5px;
}

nav button{
    padding: 5px;
    border-radius: 5px;
    border: #4a4a4a;
    background-color: #4a4a4a;
    color: white;
}